---
import TableOfContents from './TableOfContents.astro';
import MobileTableOfContents from './MobileTableOfContents.astro';
---

<aside class="page-sidebar">
  <!-- Desktop view: render the Table of Contents -->
  <TableOfContents />

  <!-- Mobile view: render the Table of Contents in a dropdown -->
  <MobileTableOfContents />

  <!-- Add Giscus comments widget -->
  <section id="comments">
    <h2>Comments</h2>
    <div id="giscus"></div>
    <script src="https://giscus.app/client.js"
        data-repo="txs/soft-tennis-guide"
        data-repo-id="R_kgDOMudedw"
        data-category="Comments"
        data-category-id="DIC_kwDOMuded84CiS9Y"
        data-mapping="og:title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        crossorigin="anonymous"
        async>
</script>
  </section>
</aside>